<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form
      id="register-form"
      method="post"
      action="/register"
      style="display: flex; flex-direction: column; gap: 10px; width: 30%; margin: 0 auto"
    >
      Name: <input class="name-input" name="name" type="text" />

      Email: <input class="email-input" name="email" type="email" />

      Password: <input class="password-input" name="password" type="password" />

      <button class="submit-button" type="submit">Register</button>
    </form>
  </body>
</html>
